/* 還原瀏覽器的設定 */
/*reset */
/*reset */
/*reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset end*/
/*reset end*/
/*reset end*/

/* 基礎通用設定 */
/* global */
/* global */
/* global */

:root {
  --main: #FBFBFB;
  --main-font-color: #000000;
  --main-link-color: #0D6EFD;
  --main-link-hover-color: #1133DD;

  /* table */
  --table-light: #FBFBFB;
  --table-dark: #E9E9E9;
  --table-font-hot: #B22222;
  --table-font-cold: #00008B;

  /* navbar & footer */
  --navbar-container: #EEEEEE;
  --navbar-wrapper: #EEEEEE;
  --search-list: #FFFFFF;

  --footer-container: #EEEEEE;
}

[data-theme="dark"] {
  --main: #707070;
  --main-font-color: #FBFBFB;
  --main-link-color: #FBFBFB;
  --main-link-hover-color: #E3E3E3;

  /* table */
  --table-light: #505050;
  --table-dark: #404040;
  --table-font-hot: #ff8800;
  --table-font-cold: #00aaff;

  /* navbar & footer */
  --navbar-container: #505050;
  --navbar-wrapper: #505050;
  --search-list: #707070;
  --footer-container: #505050;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 999;
}

.main-container {
  width: 100vw;
  height: calc(100vh - 75px);
  overflow: scroll;
  padding: 80px 15px 0px;
  margin-bottom: 75px;
  background-color: var(--main);
}

.title-wrapper {
  padding-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--main-font-color);
}

.subtitle-wrapper {
  color: var(--main-font-color);
}

/* 表格相關 */
.main-table {
  background-color: var(--table-light);
  border: 2px solid #555555;
  color: var(--main-font-color);
}

.table-header {
  /* 沒有加入 display: inline-block，則 table__body 的寬度會縮起來；每一列的高度也無法固定，會均分 height */
  display: inline-block;
  line-height: 20px;
  border-bottom: 2px solid #555555;
}

.table-body {
  /* 加入 display: block，才可以用 height 或 max-height 搭配 overflow 去設定超出高度後的樣式*/
  display: block;
}

.table-row {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

.table-row:nth-child(2n) {
  background-color: var(--table-dark);
}

.table-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right: 1px solid #555555;
}

.table-cell div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.table-cell-save,
.table-cell-notify {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.table-body .table-cell-save::after,
.table-body .table-cell-notify::after {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--table-dark);
  border: 2px solid #555555;
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
}

.table-body .table-cell-save.saved::after {
  background-color: #77DD33;
  border: 2px solid #BBBBBB;
}

.table-body .table-cell-notify.notified::after {
  background-color: #ff4444;
  border: 2px solid #BBBBBB;
}

.table-cell-name {
  width: 75px;
}

.table-cell-each-day {
  width: 255px;
}

/* 連結相關 */
.link {
  text-decoration: none;
}

a {
  color: var(--main-link-color);
}

a:hover {
  color: var(--main-link-hover-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {
  .title-wrapper {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 900;
  }

  /* 手機上不太會有 scroll bar 所以不用設定高度，一直往下滑、或左右滑就可。但電腦版會有 scroll bar，如果沒有設定 max-height，那麼左右橫移的 scroll bar 會在最下面，要滑鼠滾輪滾到對底才找的到，不好操作，甚至讓人找不到 */
  .table-body {
    /* 加入 display: block，才可以用 height 或 max-height 搭配 overflow 去設定超出高度後的樣式*/
    max-height: 680px;
    overflow: scroll;
  }
}