/* 還原瀏覽器的設定 */
/*reset */
/*reset */
/*reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset end*/
/*reset end*/
/*reset end*/

/* 基礎通用設定 */
/* global */
/* global */
/* global */
.home {
  border: 2px solid red;
}

.navbar-container {
  border: 2px solid blue;
}

.main-container {
  border: 2px solid green;
}

.footer-container {
  border: 2px solid yellow;
}

.table-header {
  /* 沒有加入 display: inline-block，則 table__body 的寬度會縮起來；每一列的高度也無法固定，會均分 height */
  display: inline-block;
  line-height: 20px;
}

.table-body {
  /* 加入 display: block，才可以用 height 或 max-height 搭配 overflow 去設定超出高度後的樣式*/
  display: block;
  max-height: 750px;
  overflow: scroll;
}

.table-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  border: 2px solid red;
}

.table-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid green;
}

.table-cell div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid purple;
}

.table-cell-name {
  width: 75px;
}

.table-cell-each-day {
  width: 275px;
}
